

.App-logo {
  height: 50px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  text-align: left;
  position: fixed;
  float:left;
  background-color: none;
  min-height: 100vh;
  min-width: fit-content;

  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(15px + 2vmin);
  padding-left: 20px;
  padding-top: 20px;
  
}

@media (max-width: 768px) {
  .App-header {
    display:none;
  }
}

.Menu-button {
  margin-left: 20px;
  margin-top: 20px;
  display:fixed;
  position:absolute;
}

.Menu-button:active {
  background-color:none;
}

.Menu-button:active line {
  stroke: #B0D7FF;
}

.Menu-button button {
  padding: 5px;
  border:none;
  background:none;
  color:none;
}

.Menu-icon {

  height: 15px;
  pointer-events: none;
  
}

.Menu-icon line {
  stroke-width: 10px;
  stroke: #17293A;
  stroke-linecap: round;
  
}

.Sidebar {
  padding-top:25px;
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:50px;

  display:flex;
  flex-direction:row;
  justify-content:space-evenly;

  background: linear-gradient(to bottom, #E8F4FF 50%, transparent 100%);

}


@media (min-width: 768px) { /* hide on desktop */
  .Menu-button {
    display:none;
  }

  .Sidebar {
    display:none;
  }
} 

.App-link {
  color: inherit;
  text-decoration:none;
}

.App-link:hover {
  color: #17293A
}

.App-link:active {
  color: #B0D7FF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-body {
  text-align: center;
  margin-left: 25vw;
  margin-right: 5vw;
}

@media (max-width: 768px) {
  .App-body {
    margin-left: 5vw;
  }
}