body {
  margin: 0;
  font-family: -apple-system, 'Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E8F4FF;
  color: #5E88B3
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 0;
  color: #17293A;

}

p {
  font-family: "Roboto";
  text-align: center;
}